201460
Akash Kumar Singh
CS 38

In [23]:
n=int(input("Enter the number of rows+1:"))

for i in range(n):
  for j in range(i):
    print(i,end=" ")
  print("")

Enter the number of rows+1:6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
n=int(input("Enter the number of rows+1:"))

for i in range(1,n):
  for j in range(n,i,-1):
    print(i,end=" ")
  print("")

Enter the number of rows+1:6
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [25]:
n=int(input("Enter the number of rows+1:"))

for i in range(1,n):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

Enter the number of rows+1:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
n=int(input("Enter the number of rows+1:"))
k=n-1
for i in range(1,n):
  for j in range(n,i,-1):
    print(k,end=" ")
  k-=1
  print("")

Enter the number of rows+1:6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [33]:
n=int(input("Enter the number of rows+1:"))

for i in range(1,n):
  for j in range(n,i,-1):
    print(n-1,end=" ")
  print("")

Enter the number of rows+1:6
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5